<div class="container">
    <ul class="nav bg-info">
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'home' %}">HOME</a>
      </li>
      
      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link link-light" href="/films/add_film">ADD FILMS</a>   
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/films/add_director">ADD DIRECTOR</a>   
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/films/add_review">ADD REVIEW</a>   
      </li>

      <li class="nav-item">
        <a class="nav-link link-light" href="/films/add_poster">ADD POSTER</a>   
      </li>

      <li class="nav-item">
        <a class="nav-link link-light" href="/admin">ADMIN PAGE</a>   
      </li>
      {% endif %}





      {%if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link link-light" href="/accounts/logout">LOGOUT</a>   
      </li>

      <li class="nav-item">
        <a class="nav-link link-light" href="/accounts/profile">PROFILE</a>   
      </li>

      {%else%}
      <li class="nav-item">
        <a class="nav-link link-light" href="/accounts/register">REGISTER</a>   
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/accounts/login">LOGIN</a>   
      </li>
      {%endif%}

      

    </ul>
</div>