* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------------------------------------background img */

body {
    background-image: url(avengers_background.jpeg);
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

/* ----------------------------------------Navigation bar */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    height: 75px;
}

h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
  }

  li {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
  }

  li a {
    color: white;
    text-decoration: none;

  }
  
  li a:hover {
    color: grey;
  }

/* ----------------------------------------Text inside */

h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 85px;
    margin-left: 50px;
    margin-top: 200px;
}

p {
    margin-left: 50px;
    margin-bottom: 50px;
    width: 40%;
}

/* ----------------------------------------Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}

/* ---------------------------------------Media Querries */


@media all and (min-width: 992px) and (max-width: 1200px) {
    /* large devices */

    .container {
        background-color: red;
    }

}



@media all and (min-width: 768px) and (max-width: 992px) {
    /* medium devices */
    h1 {
        font-size: 25px;
    }

    .container {
        background-color: greenyellow;
    }

    li a, h3 {
        color: black;
    }
    
}

@media all and (min-width: 600px) and (max-width: 768px) {
    /* small devices */
    h1 {
        font-size: 35px;
    }

    .container {
        background-color: yellow;
    }
    li a, h3{
        color: black;
    }
}

