<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/add_gif">Add new Gif</a>
        <a href="/add_category">Add new Category</a>
    </nav>
    <h1>Home</h1>
    <h2>Gifs</h2>
        {% for gif in gifs %}
            <div>
                <h3>{{ gif.title }}</h3>
                <img src="{{ gif.url }}" alt="{{ gif.title }}">
            </div>
        {% endfor %}
</body>
</html>