{% extends 'base.html' %}

{% block content %}


    {% if messages %}
         {% for message in messages %}
             <div class="text-center alert alert-{{ message.tags }}">
                 {{ message|safe }}
             </div>
         {% endfor %}
     {% endif %}


    <div class="container">
        <h1>Images</h1>
        <div class="row">
            {% for image in images %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.title }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ image.title }}</h5>
                        <p class="card-text">{{ image.description }}</p>
                        <p class="card-text">Uploaded by
                            <a href="{% url 'album' image.user.id %}">{{ image.user }}</a>
                        </p>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}