{% extends 'base.html' %}

{% block content %}


    {% if messages %}
         {% for message in messages %}
             <div class="text-center alert alert-{{ message.tags }}">
                 {{ message|safe }}
             </div>
         {% endfor %}
     {% endif %}


    <div class="container">
        <h1>{{ user.username }}</h1>
        <p>Images count: {{ profile.uploads_count }}</p>
        <a href="{% url 'album' user.id %}">{{ user.username }}'s album</a>
    </div>
{% endblock content %}