* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input:hover {
    background-color: blue;
}


.radio_form > input:checked + label {
    color: blue;
}

input[type="checkbox"]:checked + label {
    color: black;
}

p::first-letter {
    font-size: 100px;
    color: red;
    float: left;
    line-height: 3rem;
    padding-top: 15px;
}

#first {
    width: 500px;
    height: 100px;
    border: 10px solid blue;
    background-color: grey;
}

#second {
    width: 30vw;
    height: 30vh;
    border: 10px solid green;
    font-size: 3rem;
    /* 3 * 16px */
}

@media all and (min-width: 480px) and (max-width: 768px) {

    #first {
        width: 200px;
        height: 200px;
        border: 10px solid yellow;
    }

    #second {
        width: 10vh;
        
    }

}

