/* ---------------------------- first exercise */
.first1 {
    background-color: blue;
}

.second1 {
    background-color: blueviolet;
    height: 400px;
    width: 60%;
    align-self: center;
}

.third1 {
    background-color: brown;
}

.flex1 {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    gap: 2rem;
    padding: 1rem;
}

div {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ---------------------------------second exercise */

.first2 {
    background-color: blue;
}

.second2 {
    background-color: blueviolet;
    width: 20%;
    align-self: flex-end;
}

.third2 {
    background-color: brown;
}

.flex2 {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

section {
    margin: 2rem;
}