* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 5px;
}
            
/* ----------------------------------Working with Header properties */
header {
    display: flex;
    border: 1px solid black;
    height: 50px;
    justify-content: space-between;
}    

.logo {
    border: 1px solid black;
    width: 10%;
    height: 100%;
}

/* Navigation bar */

nav {
    display: flex;
}    

ul {
  display: flex;  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.download {
    display: flex;
    border: 1px solid black;
    height: 100%;
}
/* -------------------------------------------------------- */

/* ----------------------------------Main part of the page */

article {
    display: flex;
    height: 100vh;
    margin-top: 5px;
    justify-content: space-between;
}


/* aside left block with social icons FIXED */

aside {
    border: 1px solid black;
    width: 5%;
}

.socials {
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    justify-content: center
}

#icons {
    border: 1px solid rgb(5, 255, 109);
    display: flex;
    height: 15vh;
    position: fixed;
    margin-bottom: 30vh;

}
/* ------------------------------------------ */


main {
    border: 1px solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
}

section {
    border: 1px solid red;
}

/* --------------------------Welcome section with intro */

.welcome {
    display: flex;
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
    border: 1px solid green;
    align-items: center;
}


/* --------------------------About section with info */

.about {
    display: flex;
    /* height: 100vh; */
    border: 1px solid green;
}


footer {
    height: 50px;
    border: 1px solid purple;
    margin-top: 5px;
}