@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* color pallete
color: #00ffd2; - light green for highlights
color: #0a0047; - dark blue for background
color: #267bca; - light blue for text
color: #ff4499; - pink for specials
color: white; - in case */


/* -----------put some style */
body {
    padding: 5px;
    background-color: #0a0047;
    font-family: 'JetBrains Mono', monospace;
    color: #267bca; 
}

span, h4, h3, footer {
    color: #00ffd2;
}

h1 {
    color: white;
    font-size: 3rem;
}

h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3vh;
}

#pink_name {
    color: #ff4499;
}

button {
    background-color: #0a0047;
    color: #00ffd2;
    border: 1px solid #00ffd2;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #00ffd2;
    color: #0a0047;
}

/* -------------------- */

            
/* ----------------------------------Working with Header properties */
header {
    display: flex;
    /* border: 1px solid black; */
    height: 50px;
    justify-content: space-between;
}    

.logo {
    display: flex;
    /* border: 1px solid black; */
    width: 10%;
    height: 100%;
    justify-content: center;
}

#logo-pic {

    height: 100%;
}

/* Navigation bar */

nav {
    display: flex;
}    

ul {
  display: flex;  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a0047;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #00ffd2;
}

.download {
    display: flex;
    border: 1px solid black;
    height: 100%;
}
/* -------------------------------------------------------- */

/* ----------------------------------Main part of the page */

article {
    display: flex;
    /* height: 100vh; */
    margin-top: 5px;
    justify-content: space-between;
}


/* aside left and right blocks with social icons FIXED */

aside {
    display: flex;
    /* border: 1px solid black; */
    width: 5%;
}

.socials {
    flex-direction: column;
    align-items: center;
}

#icons {
    /* border: 1px solid rgb(5, 255, 109); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    position: fixed;
    bottom: 20vh;
    font-size: 1.6rem;
}

.vl {
    display: flex;
    text-align: center;
    border-left: 1px solid #00ffd2;
    height: 17vh;
    padding-top: 15px;
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    color: #00ffd2;
}

.email {
    writing-mode: vertical-lr;
    font-size: 1rem;
}

/* ------------------------------------------ */


main {
    /* border: 1px solid black; */
    width: 90%;
    display: flex;
    flex-direction: column;
}

/* --------------------------Welcome section with intro */

.welcome {
    display: flex;
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
    border: 1px solid green;
    align-items: center;
}


/* --------------------------About section with info */

#about {
    display: flex;
    /* height: 100vh; */
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    border: 1px solid green;
    align-items: center;
}

.info {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid blue; */
}

#text-ava {
    display: flex;
    border: 1px solid blue;
}

#text-ava > p {
    border: 1px solid blue;
    width: 35vw;
}

#ava {
    display: flex;
    border: 1px solid blue;
    width: 15vw;
}

#stack {
    border: 1px solid blue;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}
/* ------------------------------------------ */

/* -----------------------Section with my projects */

#projects {
    border: 1px solid green;
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.card-project {
    border: 1px solid blue;
    display: flex;
    /* margin-top: 50px; */
}


.project-picture {
    display: flex;
    border: 1px solid rgb(255, 0, 225);
    width: 30vw;
    height: 30vh;
}


/* ------------------------------------------------ */

/* -----------------------Section with my contacts */
#contacts {
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    border: 1px solid blue;
}

#cont-text {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#bt-hello {
    width: 15vw;
}

/* ---------------------------Footer */

footer {
    display: flex;
    flex-direction: column;
    height: 50px;
    /* border: 1px solid purple; */
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}