<div class="container">
    <ul class="nav bg-info">
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'index' %}">HOME</a>
      </li>
      
      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'upload_image' %}">ADD IMAGES</a>   
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'my_images' %}">MY IMAGES</a>   
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/admin">ADMIN PAGE</a>   
      </li>
      {% endif %}



      {%if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'logout' %}">LOGOUT</a>   
      </li>

      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'profile' user.id %}">PROFILE</a>   
      </li>

      {%else%}
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'signup' %}">SIGN UP</a>   
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'login' %}">LOGIN</a>   
      </li>
      {%endif%}

      

    </ul>
</div>