{% extends 'base.html' %}

{% block content %}



    
    <div class="container">
        <h1>New Films</h1>
        <div class="row">

            {% for film in films %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
            <img style='width: 150px; height: 200px; margin-bottom: 10px;'  src='{{ film.poster.image }}' alt='{{ film.poster.explanation_img }}'>

                          <h5 class="card-title">{{ film.title }} BY
                              {% for director in film.director.all %}
                                {{ director }}
                              {% endfor %}
                          </h5>
                        <p class="card-text">Date: {{ film.release_date }}</p>
                        <p class="card-text">Category:
                            {% for category in film.category.all %}
                                {{ category }}
                              {% endfor %}
                        </p>
                        <p class="card-text">Country: {{ film.created_in_country }}</p>
                        {% if film.reviews.count > 0 %}
                            <p class="card-text">Reviews:</p>
                            <ul>
                                {% for review in film.reviews.all %}
                                    <li>{{ review.review_text }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if user.is_superuser %}
                        <p><a href="{% url 'edit_film' film.id %}" class="card-link">Edit a film</a></p>
                        <p><a href="{% url 'delete_film' film.id %}" class="card-link">Delete a film</a></p>
                        {% endif %}
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}