* {box-sizing: border-box}

#main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

#register-form {
    border: 1px solid black;
    width: 350px;
}

#login-form {
    border: 1px solid black;
    width: 350px;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
#btn-register, #btn-login {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#btn-register:hover {
  opacity:1;
}

#btn-login:hover {
    opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

h1 {
    text-align: center;
}